.FilterButton {
  position: absolute;
  left: 24px;
  top: 112px;
  background-image: url("../../assets/icons/filter-green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 1000;
}