.MapMenu {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  margin-top: -24px;
}

.MapMenu img {
  width: 60px;
  height: 60px;
}

.HappyArrow {
  top: -20px;
  background-image: url("../../assets/icons/arrow-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 1000;
}

.ConfirmCancelButtons {
  position: fixed;
  bottom: 24px;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  padding-right: 24px;
}

.IssuesIcons {
  position: relative;
  bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  z-index: 1000;
}

.IssuesList {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.IssuesNames {
  color: rgba(255, 54, 0, 0.5);
  font-weight: bold;
  margin-left: 12px;
}

.Repport {
  margin: 24px;
}

.AddNew {
  color: #00FF88;
  font-weight: bold;
  margin-left: 12px;
}