.MapMenu {
  display: flex;
  flex-direction: row;
}

.MapMenu img {
  width: 60px;
  height: 60px;
}

.HappyArrow {
  top: -20px;
  background-image: url("../../assets/icons/arrow-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 1000;
}
