.App {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

h2 {
  margin-top: 96px;
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

.Vert {
  color: #00FF88;
  font-weight: bold;
  text-decoration: none;
}
.Vert:hover {
  color: #00A54E;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.HappyButton {
  width: 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  min-width: 66%;
  background-color: #00FF88;
  border-style: none;
  border-radius: 50px;
  margin: 12px;
  padding: 12px 24px 12px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  align-self: center;
}

.PasHappyButton {
  width: 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  min-width: 66%;
  background-color: #B5A3A3;
  border-style: none;
  border-radius: 50px;
  margin: 12px;
  padding: 12px 24px 12px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  align-self: center;
}

.HappyButton:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.logoBox {
  height: 100px;
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 75px;
  border-radius: 100%;
}

.previewBox {
  margin: 24px;
  padding: 24px;
  height: 150px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #00FF88;
}

.demo{
  font-size: 1.2em;
}

.logo {
  width: 66%;
  margin-top: 120px;
}

.Icon {
  max-height: 170px;
}

.Presentation {
  display: flex;
  flex-direction: column;
}

.aligngo {
  margin-top: 10px;
}

.ContainGreg {
  overflow: hidden;
  height: 600px;
  width:400px;
}
