.App {
  text-align: center;
}

a {
  color: #00FF88;
  font-weight: bold;
}
a:hover {
  color: #00A54E;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.HappyButton {
  width: 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.HappyButton:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logoBox {
  height: 200px;
  margin: 50px;
  margin-top: 100px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 100%;
}

.previewBox {
  margin: 30px;
  background-color: rgb(0, 255, 136);
  height: 150px;
  box-shadow: px 5px 5px rgba(0,0,0,0.24);
}

.demo{
  height: 100px;
  font-size: 1.25%;
}
